@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Outfit", serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (min-width: 1800px) and (max-width: 2700px) {
  html {
    font-size: 100%;
  }
}
@media (min-width: 1700px) and (max-width: 1930px) {
  html {
    font-size: 90%;
  }
}
@media (min-width: 1450px) and (max-width: 1700px) {
  html {
    font-size: 80%;
  }
}
@media (min-width: 1471px) and (max-width: 1550px) {
  html {
    font-size: 75%;
  }
}
@media (min-width: 1350px) and (max-width: 1470px) {
  html {
    font-size: 70%;
  }
}
@media (min-width: 2400px) and (max-width: 2700px) {
  html .teamimg {
    width: 7rem;
    height: 7rem;
  }
  html .plusicon {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 1050px) and (max-width: 1228px) {
  html {
    font-size: 55%;
  }
  html .webtitle {
    padding: 0.9rem 2rem;
  }
}
@media (min-width: 890px) and (max-width: 1049px) {
  html {
    font-size: 45%;
  }
}
@media (min-width: 768px) and (max-width: 890px) {
  html {
    font-size: 40%;
  }
}
@media (min-width: 650px) and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  html .teamimg {
    width: 6rem;
    height: 6rem;
  }
  html .plusicon {
    width: 2.8rem;
    height: 2.8rem;
  }
}
@media (min-width: 310px) and (max-width: 650px) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 540px) and (max-width: 600px) {
  html {
    font-size: 45%;
  }
}

:root {
  --color-white: #f2ece2;
  --color-orange: #f0894d;
  --color-pink: #fcbea4;
  --color-yellow: #eee7dc;
  --color-black: #111111;
  --color-gray: #9d9d9d;
  --white: white;
  --color-yellow2: #fce6bd;
}

html,
body {
  overflow: hidden;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.scrollable {
  overflow: scroll;
}

@media (max-width: 540px) {
  html,
  body {
    overflow: auto;
  }
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  *::-webkit-scrollbar {
    display: block;
  }
  .scrollable {
    overflow: auto;
  }
}
.title {
  font-family: "Outfit", serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 1.5rem 0 0 0;
  padding: 0 2rem;
}
.title-des {
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0 0 0 2rem;
}

.titleclass {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-bottom: 1px solid rgba(41, 41, 41, 0.247);
  padding-bottom: 0.7rem;
}

.webtitle {
  border-bottom: 1px solid rgba(41, 41, 41, 0.247);
  padding: 0.95rem 2rem;
  height: 7rem;
}
.webtitle__one {
  font-size: 2.8rem;
  font-family: "Outfit", serif;
  font-weight: 500;
}
.webtitle__des {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Outfit", serif;
}
@media (min-width: 310px) and (max-width: 768px) {
  .webtitle {
    border-bottom: none;
  }
}

.dropdown-container {
  width: 100%;
}

.dropdown-title {
  padding: 0.5rem 0;
  margin: 0 0 0 0;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.dropdown-items {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.icon {
  transition: transform 0.2s;
}

.dropdown-items li {
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  transition: all 0.3s ease;
}
.dropdown-items li:hover {
  cursor: pointer;
  transform: translateX(1rem);
}

.dropdown-items li:last-child {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.dropdown-items li:last-child:hover {
  cursor: pointer;
}

.icon {
  transition: transform 0.2s;
  font-size: 2rem;
}

.col3-title {
  font-size: 2.8rem;
  font-weight: 500;
  font-family: "Outfit", serif;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  margin: auto;
  padding: 0.2rem 0.6rem;
  border: 1px solid #cccccc;
  border-radius: 3rem;
  margin: 1.2rem 0 0 0;
}

.search-container button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0 0.5rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container input[type=search] {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.6rem;
  font-size: 1.7rem;
}

.search-icon {
  width: 1.8rem;
  height: 1.8rem;
  color: #ccc;
}

.projectname {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3.5rem 0 0 0;
}
.projectname-title {
  font-size: 2.1rem;
  font-family: "Outfit", serif;
  font-weight: 500;
}
.projectname-open {
  font-size: 1.5rem;
  font-family: "Outfit", serif;
  font-weight: 400;
  color: var(--color-orange);
}
.projectname-open:hover {
  cursor: pointer;
}

.reminder {
  font-size: 2rem;
  font-family: "Outfit", serif;
  margin: 2.8rem 0 0 0;
  font-weight: 500;
}
.reminder-div {
  margin: 2rem 0 4rem 0;
  border: 1px solid rgba(109, 106, 106, 0.431372549);
  border-radius: 2rem;
  padding: 2rem 2.5rem;
}
.reminder-div--title {
  font-size: 1.2rem;
  font-weight: 300;
  color: #363636;
}
.reminder-div--des {
  font-size: 1.8rem;
  font-weight: 500;
}
@media (max-width: 576px) {
  .reminder-div--des {
    align-self: flex-start;
    margin-top: 0.5rem;
  }
}

.reminderbutton {
  padding: 0.8rem 1.7rem;
  color: black;
  border: 2px dashed var(--color-orange);
  background-color: white;
  border-radius: 2rem;
  flex-shrink: 0;
}
.reminderbutton:hover {
  cursor: pointer;
  border: 2px solid var(--color-orange);
  background-color: var(--color-orange);
  color: white;
  box-shadow: 0 0 5px #f0894d, 0 0 10px #f0894d;
}

.addbutton {
  padding: 1rem 1.7rem;
  color: white;
  border: 2px dashed var(--color-orange);
  background-color: var(--color-orange);
  border-radius: 2.2rem;
  flex-shrink: 0;
}
.addbutton:hover {
  cursor: pointer;
  border: 2px solid var(--color-orange);
  background-color: var(--color-orange);
  color: white;
  box-shadow: 0 0 5px #f0894d, 0 0 10px #f0894d;
}

.header__loginarea--bellicon {
  width: 2rem;
  height: 2rem;
  padding: 0.7rem;
  transition: all 0.3s ease;
}
.header__loginarea--bellicon:hover {
  transform: rotate(-15deg);
  cursor: pointer;
}
.header__loginarea__bellsection {
  position: relative;
}
.header__loginarea--notificationdot {
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--color-orange);
  position: absolute;
  top: 26%;
  left: 54%;
  border-radius: 50%;
}

.loginimg {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin: 0 0 0 1.5rem;
}
.loginimg:hover {
  cursor: pointer;
}

.user {
  font-size: 1.1rem;
  color: #b1b0b0;
  font-family: "Outfit", serif;
  font-weight: 400;
}
.user-name {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: -0.3rem;
}

.bold {
  color: #5f5f5f;
}

.arrowicon-down {
  color: var(--color-orange);
  width: 1.3rem;
  height: 1.3rem;
  padding: 0.1rem;
}

.blackcolor {
  color: black;
}

.arrowicon {
  background-color: rgba(204, 204, 204, 0.2117647059);
  border: 1px solid var(--color-orange);
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin: 0 0 0 1.4rem;
}
.arrowicon:hover {
  cursor: pointer;
}

.whitecolor {
  background-color: white;
  margin-right: 1rem;
}

.username {
  margin: 0 0 0 0.8rem;
}

.teamtitle {
  font-size: 2rem;
  margin: 5rem 0 0 0;
  font-weight: 500;
}

.teamimg {
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
}
.teamimg:hover {
  cursor: pointer;
}

.plusicon {
  width: 2.3rem;
  height: 2.3rem;
  color: var(--color-orange);
  padding: 0.3rem;
}

.plus {
  background-color: rgba(204, 204, 204, 0.2196078431);
  border-radius: 50%;
  border: 2px dashed var(--color-orange);
  display: flex;
  align-items: center;
}
.plus:hover {
  cursor: pointer;
}

.projectbox {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 2.3rem 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem 0 0 0;
  border-radius: 1.7rem;
}
.projectbox-title {
  font-size: 1.2rem;
  color: #666666;
  font-weight: 400;
}
.projectbox-des {
  font-size: 1.8rem;
  color: black;
  font-weight: 500;
}

.marginset {
  margin: 4rem 0 0 0;
}

.dailytitle {
  font-size: 2rem;
  font-weight: 500;
}

.editoption {
  font-size: 1.4rem;
  color: var(--color-orange);
  font-weight: 400;
  padding: 0 2.2rem 0 0;
}
.editoption:hover {
  cursor: pointer;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox .checkmark {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--color-orange);
  background-color: white;
  display: inline-block;
  position: relative;
  border-radius: 25%;
  cursor: pointer;
}

.custom-checkbox input:checked + .checkmark {
  background-color: var(--color-orange);
}

.custom-checkbox input:checked + .checkmark::after {
  content: "✔";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}

.logo {
  width: 100%;
  height: 6rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(41, 41, 41, 0.247);
}

.logosec {
  width: 100%;
  margin: 1rem 0 0 0;
}

.icons {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav {
  flex-direction: row;
}

.nav-icons:first-child {
  background-color: var(--color-yellow);
}

.nav-icons {
  color: var(--color-black);
  width: 2.5rem;
  height: 2.5rem;
  padding: 1.5rem 0;
  width: 100%;
  transition: all 0.5s ease;
}
.nav-icons:hover {
  cursor: pointer;
  background-color: var(--color-yellow);
}

.question-icons {
  color: var(--color-black);
  width: 4rem;
  height: 4rem;
  margin: 0 0 1rem 0;
}
.question-icons:hover {
  cursor: pointer;
}

.questionmark {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card1 {
  background-color: var(--color-pink);
  border-radius: 2.5rem;
}
.card1:hover {
  box-shadow: 0 0 5px #fcbea4, 0 0 10px #fcbea4;
  cursor: pointer;
}

.card2 {
  background-color: var(--color-yellow2);
  border-radius: 2.5rem;
}
.card2:hover {
  box-shadow: 0 0 5px #fce6bd, 0 0 10px #fce6bd;
  cursor: pointer;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2.2rem;
  margin: 1.2rem 0 0 0;
}

.textthree,
.texttwo {
  background-color: black;
  color: white;
  padding: 1.8rem;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.3rem;
  border: 2px solid var(--color-pink);
  z-index: 3;
}

.texttwo {
  border: 2px solid black;
  background-color: var(--color-yellow2);
  color: black;
}

.img-dotflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-user {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  margin: 0 0 0 -1.5rem;
  border: 2px solid var(--color-pink);
  z-index: 2;
}

.img-user:last-child {
  z-index: 1;
}

.imgflex {
  display: flex;
  align-items: center;
}

.centercard {
  padding: 3rem 2rem;
}

.dotflex {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  flex-direction: column;
}
.dotflex:hover {
  cursor: pointer;
}

.dot1,
.dot2 {
  background-color: black;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.card-title {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Outfit", serif;
  margin-top: 3rem;
}
.card-title-des {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1.6rem 0 0 0;
}
.card-title-progress {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 10rem 0 0 0;
}

.progress-bar {
  width: 100%;
  height: 0.7rem;
  margin: 1rem 0 0 0;
  background-color: rgba(77, 78, 74, 0.281);
  border-radius: 15px;
  overflow: hidden;
}

.progress-area {
  height: 100%;
  background-color: black;
  border-radius: 15px;
}

.cardimg {
  border: 2px solid var(--color-yellow2);
}

.flexendclass {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.daily-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 1.5rem;
  margin: 1.2rem 0 0 0;
}

.dailycard1 {
  background-color: rgba(236, 218, 191, 0.631372549);
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dailycard1:hover {
  cursor: pointer;
}

.dailycard2 {
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dailycard2:hover {
  cursor: pointer;
}

.dailycardcenter {
  padding: 1rem 1.5rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 350px) and (max-width: 540px) {
  .dailycardcenter {
    height: 10rem;
  }
}

.addnewtext {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
}

.addnewplus {
  align-self: flex-end;
  width: 1.8rem;
  height: 1.8rem;
}

.addnewcenter {
  padding: 3rem 2rem 2rem 2rem;
}

.dailycard-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0.8rem 0 0.4rem;
}

.reddot {
  background-color: var(--color-orange);
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
}

.box {
  border: 1.5px solid var(--color-orange);
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  border-radius: 25%;
  margin: 0 0 0 0.7rem;
}

.dailycardtext {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 0 3rem 0;
}

.cyandot {
  background-color: aqua;
}

.whitedot {
  background-color: white;
}

.orangebg {
  background-color: var(--color-orange);
}

.white {
  color: white;
}

.boxicon {
  height: 1.3rem;
  width: 1.3rem;
  color: white;
}

.blackbg {
  background-color: black;
  display: flex;
  align-items: center;
}

.utilitymarginbottom {
  margin-bottom: 4rem;
}

.curly-line {
  margin: 20px 0;
  padding: 10px 0;
}

.dailycard2 {
  position: relative;
  overflow: hidden;
}

.curly-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transform: rotate(-15deg);
  margin-top: 4.05rem;
}

.topflex,
.dailycard-title,
.dailycardtext {
  position: relative;
}

.two {
  transform: rotate(-20deg);
  margin-top: 6rem;
}

.dailycard2,
.dailycard2 {
  position: relative;
}

.rectangle {
  position: absolute;
  height: 80px;
  width: 20px;
  background-color: transparent;
  transform: rotate(-30deg);
}

.rectangle.middle {
  width: 20px;
  top: 10.1rem;
  left: 3rem;
  border: 2px solid black;
  transform: rotate(60deg);
  border: 1px solid var(--color-orange);
}

.rectangle:first-child {
  top: 6rem;
  left: -2rem;
  transform: rotate(60deg);
  border: 1px solid var(--color-orange);
}

.rectangle.last {
  top: 7rem;
  left: 2rem;
  transform: rotate(60deg);
  border: 1px solid var(--color-orange);
}

.oval {
  position: absolute;
  height: 20px;
  width: 50px;
  background-color: transparent;
  border: 2px solid wheat;
  border-radius: 50%;
}

.oval.middle {
  height: 40px;
  width: 50px;
  top: 6.5rem;
  left: 10.7rem;
  transform: rotate(-60deg);
  border: 2px solid white;
}

.oval:first-child {
  height: 20px;
  width: 30px;
  top: 11.5rem;
  left: 8rem;
  transform: rotate(-60deg);
  border: 2px solid white;
}

.oval.last {
  height: 20px;
  width: 30px;
  top: 10rem;
  left: 15.5rem;
  transform: rotate(-60deg);
  border: 2px solid white;
}

.flex-1,
.flex-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.flex-nav {
  flex-direction: row;
}

.col2 {
  width: 100%;
  padding: 3rem 2rem 2rem 2rem;
  height: 100%;
  height: calc(100vh - 7rem);
  font-size: 5rem;
  overflow-y: auto;
}

.col-center {
  padding: 1rem 2rem;
  width: 100%;
  height: 100%;
  height: calc(100vh - 0.2rem);
  overflow-y: auto;
}
@media (min-width: 540px) and (max-width: 768px) {
  .col-center {
    padding-bottom: 10rem;
  }
}

.reminderflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}
@media (max-width: 768px) {
  .reminderflex {
    flex-direction: column;
    gap: 2rem;
  }
}

.orangedotsflex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  width: 100%;
  margin: 0 auto;
}

.orangedotsflex1 {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.5rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 0.5rem;
}

.orangedot {
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: var(--color-orange);
  margin-top: 1.5rem;
}
.orangedot:hover {
  cursor: pointer;
}

.light {
  background-color: rgba(250, 216, 197, 0.8431372549);
}

.userloginflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .userloginflex {
    justify-content: end;
  }
}

.userloginflex2 {
  display: flex;
  align-items: center;
}

.teamuserflex {
  display: flex;
  align-items: center;
  margin: 1.3rem 0 0 0;
  gap: 0.8rem;
  justify-content: space-between;
}

.dailytaskflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem 0 0 0;
}

.addnew-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.topflex {
  display: flex;
  justify-content: right;
  align-items: center;
}

.removespace {
  justify-content: flex-start;
}

.userloginfirst {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-yellow);
}
@media (min-width: 768px) and (max-width: 3000px) {
  .userloginfirst {
    display: none;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 6% 18% 46% 30%;
}
@media (min-width: 310px) and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }
}
@media (max-width: 540px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: 100vh;
  }
  .grid-container .col-center {
    height: auto;
    overflow-y: auto;
  }
}

.column1 {
  background-color: var(--white);
  width: 100%;
}
@media (min-width: 310px) and (max-width: 768px) {
  .column1 {
    display: none;
  }
}

.columnfirst {
  background-color: var(--white);
  width: 100%;
  border-bottom: 1px solid rgba(41, 41, 41, 0.247);
}
@media (min-width: 768px) and (max-width: 3000px) {
  .columnfirst {
    display: none;
  }
}
@media (min-width: 310px) and (max-width: 768px) {
  .columnfirst {
    display: block;
  }
}

.column2 {
  background-color: var(--color-yellow);
}
@media (min-width: 310px) and (max-width: 768px) {
  .column2 {
    display: none;
  }
}

.colnav {
  background-color: var(--color-yellow);
  z-index: 999999999;
  height: 100vh;
  position: fixed;
  top: 0rem;
  animation: slideIn 0.3s ease-out forwards;
}
@media (min-width: 768px) and (max-width: 3000px) {
  .colnav {
    display: none;
  }
}
@media (min-width: 310px) and (max-width: 768px) {
  .colnav {
    width: 40%;
  }
}
@media (min-width: 320px) and (max-width: 622px) {
  .colnav {
    width: 40%;
  }
}
@media (min-width: 538px) and (max-width: 600px) {
  .colnav {
    width: 40%;
  }
}
@media (min-width: 320px) and (max-width: 438px) {
  .colnav {
    width: 50%;
  }
}
@media (min-width: 300px) and (max-width: 530px) {
  .colnav {
    width: 50%;
  }
}
@media (min-width: 300px) and (max-width: 400px) {
  .colnav {
    width: 60%;
  }
}
@media (min-width: 300px) and (max-width: 340px) {
  .colnav {
    width: 70%;
  }
}

@keyframes slideIn {
  from {
    left: -250px;
  }
  to {
    left: 0;
  }
}
.column3 {
  background-color: var(--white);
}

.column4 {
  background-color: var(--white);
  box-shadow: 0 0.8rem 2rem rgba(153, 153, 153, 0.2);
}

.hidden {
  display: none;
}

.logo:hover,
.col3-title:hover,
.projectname-title:hover,
.reminder:hover,
.webtitle__des:hover,
.webtitle__one:hover {
  cursor: pointer;
}

.home {
  color: black;
  fill: black;
}

@media (max-width: 768px) {
  .hideview {
    display: none;
  }
}

@media (min-width: 310px) and (max-width: 540px) {
  .userloginfirst,
  .columnfirst {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
}

@media (min-width: 310px) and (max-width: 540px) {
  .grid-container {
    overflow-y: auto;
    margin-top: 12rem;
  }
}

@media (min-width: 310px) and (max-width: 540px) {
  .columnfirst {
    margin-top: 7rem;
  }
}

@media (min-width: 310px) and (max-width: 768px) {
  .col2 {
    padding: 1rem 2rem 2rem 2rem;
  }
}

.crossflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.closeicon {
  width: 3rem;
  height: 3rem;
  color: black;
  margin: 1rem 1.5rem 0 0;
}

.chatbg {
  background-color: var(--color-yellow);
}

/*# sourceMappingURL=style.css.map */
