.flex-1,
.flex-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.flex-nav {
  flex-direction: row;
}
.col2 {
  width: 100%;
  padding: 3rem 2rem 2rem 2rem;
  height: 100%;
  height: calc(100vh - 7rem);
  font-size: 5rem;
  overflow-y: auto;
}
.col-center {
  padding: 1rem 2rem;
  width: 100%;

  height: 100%;
  height: calc(100vh - 0.2rem);

  overflow-y: auto;
  @media (min-width: 540px) and (max-width: 768px) {
    padding-bottom: 10rem;
  }
}

.reminderflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;
  }
}
.orangedotsflex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  width: 100%;
  margin: 0 auto;
}
.orangedotsflex1 {
  display: flex;
  align-items: center;
  justify-content: right;

  gap: 0.5rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 0.5rem;
}
.orangedot {
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: var(--color-orange);
  margin-top: 1.5rem;
  &:hover {
    cursor: pointer;
  }
}
.light {
  background-color: #fad8c5d7;
}
.userloginflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  .hideview {
  }
  @media (max-width: 768px) {
    justify-content: end;
  }
}
.userloginflex2 {
  display: flex;
  align-items: center;
}
.teamuserflex {
  display: flex;
  align-items: center;
  margin: 1.3rem 0 0 0;
  gap: 0.8rem;
  justify-content: space-between;
}
.dailytaskflex {
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin: 4rem 0 0 0;
}
.addnew-flex {
  display: flex;
  justify-content: space-between;

  flex-direction: column;
  height: 100%;
}
.topflex {
  display: flex;
  justify-content: right;
  align-items: center;
}
.removespace {
  justify-content: flex-start;
}
.userloginfirst {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-yellow);
  @media (min-width: 768px) and (max-width: 3000px) {
    display: none;
  }
}
