.flex-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.col2 {
  width: 100%;
  padding: 3rem 2rem 2rem 2rem;
  height: 100%;
  height: calc(100vh - 7rem);
  font-size: 5rem;
  overflow-y: auto;
}
