.grid-container {
  display: grid;
  grid-template-columns: 6% 18% 46% 30%;

  @media (min-width: 310px) and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }
  @media (max-width: 540px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: 100vh;
    .col-center {
      height: auto;
      overflow-y: auto;
    }
  }
}

.column1 {
  background-color: var(--white);
  width: 100%;
  @media (min-width: 310px) and (max-width: 768px) {
    display: none;
  }
}
.columnfirst {
  background-color: var(--white);
  width: 100%;
  border-bottom: 1px solid rgba(41, 41, 41, 0.247);
  @media (min-width: 768px) and (max-width: 3000px) {
    display: none;
  }
  @media (min-width: 310px) and (max-width: 768px) {
    display: block;
  }
}
.column2 {
  background-color: var(--color-yellow);
  @media (min-width: 310px) and (max-width: 768px) {
    display: none;
  }
}
.colnav {
  background-color: var(--color-yellow);
  z-index: 999999999;
  height: 100vh;
  position: fixed;
  top: 0rem;

  animation: slideIn 0.3s ease-out forwards;

  @media (min-width: 768px) and (max-width: 3000px) {
    display: none;
  }
  @media (min-width: 310px) and (max-width: 768px) {
    width: 40%;
  }
  @media (min-width: 320px) and (max-width: 622px) {
    width: 40%;
  }
  @media (min-width: 538px) and (max-width: 600px) {
    width: 40%;
  }
  @media (min-width: 320px) and (max-width: 438px) {
    width: 50%;
  }
  @media (min-width: 300px) and (max-width: 530px) {
    width: 50%;
  }
  @media (min-width: 300px) and (max-width: 400px) {
    width: 60%;
  }
  @media (min-width: 300px) and (max-width: 340px) {
    width: 70%;
  }
}
@keyframes slideIn {
  from {
    left: -250px;
  }
  to {
    left: 0;
  }
}

.column3 {
  background-color: var(--white);
}
.column4 {
  background-color: var(--white);
  box-shadow: 0 0.8rem 2rem rgba(153, 153, 153, 0.2);
}
.hidden {
  display: none;
}
.logo,
.col3-title,
.projectname-title,
.reminder,
.webtitle__des,
.webtitle__one {
  &:hover {
    cursor: pointer;
  }
}
.home {
  color: black;
  fill: black;
}
.hideview {
  @media (max-width: 768px) {
    display: none;
  }
}

.userloginfirst,
.columnfirst {
  @media (min-width: 310px) and (max-width: 540px) {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
}

.grid-container {
  @media (min-width: 310px) and (max-width: 540px) {
    overflow-y: auto;
    margin-top: 12rem;
  }
}

.userloginfirst {
}

.columnfirst {
  @media (min-width: 310px) and (max-width: 540px) {
    margin-top: 7rem;
  }
}

.col2 {
  @media (min-width: 310px) and (max-width: 768px) {
    padding: 1rem 2rem 2rem 2rem;
  }
}

.crossflex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  border-bottom: 1px solid #ccc;
}

.closeicon {
  width: 3rem;
  height: 3rem;
  color: black;
  margin: 1rem 1.5rem 0 0;
}
.chatbg {
  background-color: var(--color-yellow);
}
