.grid-container {
  display: grid;
  grid-template-columns: 6% 18% 46% 30%;
  height: 100vh;
}

.column1 {
  background-color: var(--white);
  width: 100%;
}
.column2 {
  background-color: var(--color-yellow);
}
.column3 {
  background-color: var(--white);
}
.column4 {
  background-color: var(--white);
  box-shadow: 0.8rem 0 2rem 1.2rem rgba(153, 153, 153, 0.2);
}
