.card1 {
  background-color: var(--color-pink);

  border-radius: 2.5rem;
  &:hover {
    box-shadow: 0 0 5px #fcbea4, 0 0 10px #fcbea4;
    cursor: pointer;
  }
}
.card2 {
  background-color: var(--color-yellow2);

  border-radius: 2.5rem;
  &:hover {
    box-shadow: 0 0 5px #fce6bd, 0 0 10px #fce6bd;
    cursor: pointer;
  }
}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2.2rem;
  margin: 1.2rem 0 0 0;
}

.textthree,
.texttwo {
  background-color: black;
  color: white;
  padding: 1.8rem;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.3rem;
  border: 2px solid var(--color-pink);
  z-index: 3;
}
.texttwo {
  border: 2px solid black;
  background-color: var(--color-yellow2);
  color: black;
}
.img-dotflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img-user {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  margin: 0 0 0 -1.5rem;
  border: 2px solid var(--color-pink);
  z-index: 2;
}
.img-user:last-child {
  z-index: 1;
}
.imgflex {
  display: flex;
  align-items: center;
}
.centercard {
  padding: 3rem 2rem;
}
.dotflex {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  flex-direction: column;
  &:hover {
    cursor: pointer;
  }
}
.dot1,
.dot2 {
  background-color: black;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}
.card-title {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Outfit", serif;
  margin-top: 3rem;
  &-des {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1.6rem 0 0 0;
  }
  &-progress {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 10rem 0 0 0;
  }
}
.progress-bar {
  width: 100%;
  height: 0.7rem;
  margin: 1rem 0 0 0;
  background-color: rgba(77, 78, 74, 0.281);
  border-radius: 15px;
  overflow: hidden;
}
.progress-area {
  height: 100%;
  background-color: black;
  border-radius: 15px;
}
.cardimg {
  border: 2px solid var(--color-yellow2);
}

.flexendclass {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  height: 100%;
}
.daily-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 1.5rem;
  margin: 1.2rem 0 0 0;
}
.dailycard1 {
  background-color: #ecdabfa1;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  &:hover {
    cursor: pointer;
  }
}
.dailycard2 {
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &:hover {
    cursor: pointer;
  }
}
.dailycardcenter {
  padding: 1rem 1.5rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  @media (min-width: 350px) and (max-width: 540px) {
    height: 10rem;
  }
}
.addnewtext {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
}
.addnewplus {
  align-self: flex-end;
  width: 1.8rem;
  height: 1.8rem;
}
.addnewcenter {
  padding: 3rem 2rem 2rem 2rem;
}
.dailycard-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0.8rem 0 0.4rem;
}
.reddot {
  background-color: var(--color-orange);
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
}
.box {
  border: 1.5px solid var(--color-orange);
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  border-radius: 25%;
  margin: 0 0 0 0.7rem;
}
.dailycardtext {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 0 3rem 0;
}
.cyandot {
  background-color: aqua;
}
.whitedot {
  background-color: white;
}
.orangebg {
  background-color: var(--color-orange);
}
.white {
  color: white;
}
.boxicon {
  height: 1.3rem;
  width: 1.3rem;
  color: white;
}
.blackbg {
  background-color: black;
  display: flex;
  align-items: center;
}
.utilitymarginbottom {
  margin-bottom: 4rem;
}
.curly-line {
  margin: 20px 0;
  padding: 10px 0;
}
.dailycard2 {
  position: relative;
  overflow: hidden;
}

.curly-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transform: rotate(-15deg);
  margin-top: 4.05rem;
}

.topflex,
.dailycard-title,
.dailycardtext {
  position: relative;
}

.two {
  transform: rotate(-20deg);
  margin-top: 6rem;
}
.dailycard2,
.dailycard2 {
  position: relative;
}

.rectangle {
  position: absolute;
  height: 80px;
  width: 20px;
  background-color: transparent;

  transform: rotate(-30deg);
}

.rectangle.middle {
  width: 20px;
  top: 10.1rem;
  left: 3rem;
  border: 2px solid black;
  transform: rotate(60deg);
  border: 1px solid var(--color-orange);
}

.rectangle:first-child {
  top: 6rem;
  left: -2rem;
  transform: rotate(60deg);
  border: 1px solid var(--color-orange);
}

.rectangle.last {
  top: 7rem;
  left: 2rem;
  transform: rotate(60deg);
  border: 1px solid var(--color-orange);
}
.oval {
  position: absolute;
  height: 20px;
  width: 50px;
  background-color: transparent;
  border: 2px solid wheat;
  border-radius: 50%;
}

.oval.middle {
  height: 40px;
  width: 50px;
  top: 6.5rem;
  left: 10.7rem;
  transform: rotate(-60deg);
  border: 2px solid white;
}

.oval:first-child {
  height: 20px;
  width: 30px;
  top: 11.5rem;
  left: 8rem;
  transform: rotate(-60deg);
  border: 2px solid white;
}

.oval.last {
  height: 20px;
  width: 30px;
  top: 10rem;
  left: 15.5rem;
  transform: rotate(-60deg);
  border: 2px solid white;
}
