.card1 {
  background-color: var(--color-pink);

  border-radius: 2.5rem;
  &:hover {
    box-shadow: 0 0 5px #fcbea4, 0 0 10px #fcbea4;
    cursor: pointer;
  }
}
.card2 {
  background-color: var(--color-yellow2);

  border-radius: 2.5rem;
  &:hover {
    box-shadow: 0 0 5px #fce6bd, 0 0 10px #fce6bd;
    cursor: pointer;
  }
}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2.2rem;
  margin: 1.2rem 0 0 0;
}

.textthree,
.texttwo {
  background-color: black;
  color: white;
  padding: 1.8rem;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.3rem;
  border: 2px solid var(--color-pink);
  z-index: 3;
}
.texttwo {
  border: 2px solid black;
  background-color: var(--color-yellow2);
  color: black;
}
.img-dotflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img-user {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  margin: 0 0 0 -1.5rem;
  border: 2px solid var(--color-pink);
  z-index: 2;
}
.img-user:last-child {
  z-index: 1;
}
.imgflex {
  display: flex;
  align-items: center;
}
.centercard {
  padding: 3rem 2rem;
}
.dotflex {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  flex-direction: column;
  &:hover {
    cursor: pointer;
  }
}
.dot1,
.dot2 {
  background-color: black;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}
.card-title {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Outfit", serif;
  margin-top: 3rem;
  &-des {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1.6rem 0 0 0;
  }
  &-progress {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 10rem 0 0 0;
  }
}
.progress-bar {
  width: 100%;
  height: 0.7rem;
  margin: 1rem 0 0 0;
  background-color: rgba(77, 78, 74, 0.281);
  border-radius: 15px;
  overflow: hidden;
}
.progress-area {
  height: 100%;
  background-color: black;
  border-radius: 15px;
}
.cardimg {
  border: 2px solid var(--color-yellow2);
}

.flexendclass {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  height: 100%;
}
.daily-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  gap: 1.5rem;
  margin: 1.2rem 0 0 0;
}
.dailycard1 {
  background-color: #ecdabfa1;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  &:hover {
    cursor: pointer;
  }
}
.dailycard2 {
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &:hover {
    cursor: pointer;
  }
}
.dailycardcenter {
  padding: 1rem 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.addnewtext {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
}
.addnewplus {
  align-self: flex-end;
  width: 1.8rem;
  height: 1.8rem;
}
.addnewcenter {
  padding: 3rem 2rem 2rem 2rem;
}
.dailycard-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0 0 0.4rem;
}
.reddot {
  background-color: var(--color-orange);
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
}
.box {
  border: 1.5px solid var(--color-orange);
  height: 1.1rem;
  width: 1.1rem;
  background-color: white;
  border-radius: 25%;
  margin: 0 0 0 0.7rem;
}
.dailycardtext {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 0 3rem 0;
}
.cyandot {
  background-color: aqua;
}
.whitedot {
  background-color: white;
}
.orangebg {
  background-color: var(--color-orange);
}
.white {
  color: white;
}
.boxicon {
  height: 1rem;
  width: 1rem;
  color: white;
}
.blackbg {
  background-color: black;
  display: flex;
  align-items: center;
}
.utilitymarginbottom {
  margin-bottom: 4rem;
}
