* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Outfit", serif;
  font-size: 62.5%;
}

:root {
  --color-white: #f2ece2;
  --color-orange: #f0894d;
  --color-pink: #fcbea4;
  --color-yellow: #eee7dc;
  --color-black: #111111;
  --color-gray: #9d9d9d;
  --white: white;
  --color-yellow2: #fce6bd;
}
