.title {
  font-family: "Outfit", serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 1.5rem 0 0 0;
  padding: 0 2rem;
  &-des {
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0 0 0.7rem 2rem;
  }
}
.titleclass {
  border-bottom: 1px solid rgba(41, 41, 41, 0.247);
}

.dropdown-container {
  width: 100%;
}

.dropdown-title {
  padding: 0.5rem 0;
  margin: 0 0 0 0;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.dropdown-items {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.icon {
  transition: transform 0.2s;
}
.dropdown-items li {
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  &:hover {
    cursor: pointer;
  }
}
.dropdown-items li:last-child {
  font-weight: 600;
  margin-bottom: 0.5rem;
  &:hover {
    cursor: pointer;
  }
}

.icon {
  transition: transform 0.2s;
  font-size: 2rem;
}
.col3-title {
  font-size: 2.8rem;
  font-weight: 600;
  font-family: "Outfit", serif;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  margin: auto;
  padding: 0.6rem 0.6rem;
  border: 1px solid #cccccc;
  border-radius: 3rem;
  margin: 1.2rem 0 0 0;
}

.search-container button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0 0.5rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container input[type="search"] {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.6rem;
  font-size: 1.7rem;
}

.search-icon {
  width: 1.8rem;
  height: 1.8rem;
  color: #ccc;
}
.projectname {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3.5rem 0 0 0;
  &-title {
    font-size: 2.1rem;
    font-family: "Outfit", serif;
  }
  &-open {
    font-size: 1.5rem;
    font-family: "Outfit", serif;
    font-weight: 400;
    color: var(--color-orange);
    &:hover {
      cursor: pointer;
    }
  }
}
